// Archivo que da estilo a la sección de tabs de personajes

// Referencia a la propia sección
.personajes
    // Referencia a tabs y titulo
    &__info
        position: absolute
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 100vh
        width: 100%
        background-color: rgba(0,0,0, 0.4)
        text-align: center
        font-size: 7rem

        // Referencia al titulo de la sección
        &__descripcion
            color: white
            font-weight: 800
            filter: drop-shadow(5px 5px 0.2rem black)
            transition: all .5s ease

        // Referencia de las tabs
        &__tabs
            width: 90%
            height: 50%
            padding: 1em
            display: flex
            flex-direction: column

            align-items: center

            // Referencia al grupo de botones de las tabs
            &__botones
                width: 100%
                display: flex
                flex-flow: row nowrap
                justify-content: space-evenly
                align-items: center
                min-width: 400px

                // Referencia a cada botón de las tabs
                &--boton
                    font-size: 4rem
                    font-weight: 800
                    background-color: white
                    padding: 0.5em
                    margin: 0 0 0 0
                    transition: all .5s ease
                    cursor: pointer
                    border-radius: 10px

                &--boton:hover
                    background-color: #d38144

            // Referencia al grupo de pestañas de las tabs
            &__pestanias
                min-height: 10vh
                position: relative
                padding: 0.5em
                display: flex
                justify-content: center
                align-items: center
                min-width: 450px
                width: 100%

                // Referencia a cada una de las pestañas de las tabs
                &--pestania
                    background-color: rgba(58, 58, 58, 0.7)
                    width: 80%
                    margin-top: 2em
                    padding: 0.5em
                    position: absolute
                    top: 0
                    opacity: 0
                    transition: all .5s ease
                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-template-rows: 1fr
                    gap: 0 0
                    grid-template-areas: "imagen informacion"
                    border-radius: 10px

                    // Referencia de la imagen dentro de la pestaña
                    &--img
                        grid-area: imagen
                        align-self: center
                        justify-self: center
                        width: 35rem
                        transition: all .5s ease

                    // Referencia del texto dentro de la pestaña
                    &--info
                        text-align: left
                        font-size: 2.5rem
                        color: white
                        font-weight: 600
                        padding: 0.5em
                        align-self: center
                        transition: all .5s ease

// Referencia al botón que ha recibido el click
.button_active
    background-color: #984d14
    color: white

.button_active:hover
    background-color: #703609

// Referencia a la pestaña que será mostrada con su correspondiente botón
.tab_active
    opacity: 1

// Media queries
@media screen and (max-width: 1024px)
    .personajes
        &__info
            font-size: 5rem

            &__descripcion
                margin-top: -20rem

            &__tabs
                &__botones
                    &--boton
                        font-size: 4rem

                &__pestanias
                    &--pestania
                        display: grid
                        grid-template-columns: 1fr
                        grid-template-rows: 1fr 1fr
                        gap: 0 0
                        grid-template-areas: "imagen" "informacion"

                        &--img
                            width: 25rem

                        &--info
                            font-size: 2rem


@media screen and (max-width: 768px)
    .personajes
        &__info
            &__descripcion
                font-size: 4rem
                min-width: 400px

            &__tabs
                &__botones
                    &--boton
                        font-size: 3rem

                &__pestanias
                    &--pestania
                        font-size: 1.5rem
                        &--img
                            width: 20rem